<h3>
  <%= @entry.title %>
</h3>
By <%= link_to "#{@entry.user.name}", @entry.user %>

<div>
  <%= @entry.body %>
</div>
<hr>
<div>
  <h4>Comments</h4>
  <% @entry.comments.each do |comment| %>
    By <%= link_to "#{User.find(comment.user_id).name}",
                   User.find(comment.user_id) %>
    <span class="body">
      <%= comment.content %>
    </span>
    <span class="timestamp">
      <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
    <br />
  <% end %>

  <% if signed_in? %>
    <%= form_for([@entry, @entry.comments.build]) do |f| %>
      <p>
      <%= f.text_area :content, placeholder: "Enter comment here..." %>
      </p>
      <p>
      <%= f.submit "Comment", class: "btn btn-large btn-primary" %>
      </p>
    <% end %>
  <% end %>
</div>
